<div class="scroll-container d-lg-none">
    <div class="scroll-wrapper" #scrollWrapper>
      <div class="scroll-item">
        <div class="image-container">
          <img src="assets/images/hero/Ad6.jpg" alt="Image 1">
          <div class="image-text">Exclusive Deal 1</div>
        </div>
      </div>
      <div class="scroll-item">
        <div class="image-container">
          <img src="assets/images/hero/Ad6.jpg" alt="Image 2">
          <div class="image-text">Exclusive Deal 2</div>
        </div>
      </div>
      <div class="scroll-item">
        <div class="image-container">
          <img src="assets/images/hero/Ad6.jpg" alt="Image 3">
          <div class="image-text">Exclusive Deal 3</div>
        </div>
      </div>
      <div class="scroll-item">
        <div class="image-container">
          <img src="assets/images/hero/Ad6.jpg" alt="Image 4">
          <div class="image-text">Exclusive Deal 4</div>
        </div>
      </div>
    </div>
  </div>
  
  

















<!-- <div class="scroll-container">
    <button class="scroll-btn left" (click)="scrollLeft()">←</button>
    
    <div class="scroll-wrapper" #scrollWrapper>
      <div class="scroll-item">
        <img src="assets/images/Advert/Ad2.jpeg" alt="Image 1">
      </div>
      <div class="scroll-item">
        <img src="assets/images/Advert/Ad2.jpeg" alt="Image 2">
      </div>
      <div class="scroll-item">
        <img src="assets/images/Advert/Ad2.jpeg" alt="Image 3">
      </div>
      <div class="scroll-item">
        <img src="assets/images/Advert/Ad2.jpeg" alt="Image 4">
      </div>
    </div>
    
    <button class="scroll-btn right" (click)="scrollRight()">→</button>
  </div>
   -->