<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div *ngIf="order" class="card shadow-sm">
          <div class="card-header bg-success text-white">
            <h3 class="mb-0">Order Details</h3>
          </div>
          <div class="card-body">
            <div class="order-info">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Order ID:</strong> {{ order.orderId }}</p>
                  <p><strong>Total Price:</strong> {{ order.totalPrice | currency }}</p>
                  <p><strong>Order Date:</strong> {{ order.orderDate | date:'yyyy-MM-dd' }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Status:</strong> {{ order.status }}</p>
                  <!-- <p><strong>Shipping Address:</strong> {{ order.shippingAddress }}</p>
                  <p><strong>Billing Address:</strong> {{ order.billingAddress }}</p> -->
                </div>
              </div>
            </div>
            <hr>
            <h4 class="mb-4">Order Items:</h4>
            <div *ngIf="order.orderItems && order.orderItems.length > 0">
              <div *ngFor="let item of order.orderItems" class="order-item card mb-3">
                <div class="card-body">
                  <p><strong>Product Name:</strong>{{ item.productName }}</p>
                  <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                  <p><strong>Price:</strong> NGN{{ item.price}}</p>
                </div>
              </div>
            </div>
            <button class="btn btn-success" (click)="goBack()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  