
<section class="kids-banner-section py-4"></section>
    <div class="container kids-banner">
        <div class="row align-items-center">
            <div class="col-md-2 p-0">
                <!-- <img src="https://via.placeholder.com/200x300" class="img-fluid banner-image" alt="Kids Products"> -->
            </div>
            <div class="col-md-7 text-container">
                <h2 class="banner-text">Expert care for your health </h2>
                <p class="subtext">Shop at best prices</p>
            </div>
            <div class="col-md-3 text-end">
                <a routerLink="/categories" class="btn btn-yellow">Shop Now</a>
            </div>
        </div>
    </div>
