<div class="container py-5">
    <h2 class="mb-4">Categories</h2>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-3">
      <div *ngFor="let category of paginatedCategories" class="col">
        <div class="category-card card">
          <a [routerLink]="['/products', 'category', category.productCategoryId]" class="clickable-card">
            <div class="card-body">
              <h6 class="card-title mb-0">{{ category.name }}</h6>
              <img *ngIf="category.imageData" [src]="category.imageData" alt="{{ category.name }}" class="img-fluid mt-2">
            </div>
          </a>
        </div>
      </div>
    </div>
  
    <!-- Pagination Controls -->
    <div class="d-flex justify-content-between align-items-center mt-4">
      <button class="btn btn-outline-secondary" (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">
        <i class="bi bi-chevron-left"></i>
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn btn-outline-secondary" (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  
    <!-- Loading Indicator -->
    <div *ngIf="loading" class="text-center mt-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  