<nav class="navbar fixed-bottom navbar-light bg-light bottom-nav d-md-none">
  <div class="container-fluid justify-content-between">
    <!-- Home -->
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-house-door"></i>
      <span>Home</span>
    </a>
    <!-- Shop -->
    <a routerLink="/shop" routerLinkActive="active">
      <i class="bi bi-bag-fill"></i>
      <span>Shop</span>
    </a>
    <!-- Categories -->
    <a routerLink="/categories" routerLinkActive="active">
      <i class="bi bi-grid-fill"></i>
      <span>Categories</span>
    </a>
    <!-- Cart -->
    <a routerLink="/cart" routerLinkActive="active">
      <i class="bi bi-cart-fill"></i>
      <span>Cart</span>
    </a>
    <!-- Orders -->
    <!-- <a routerLink="/orders" routerLinkActive="active">
      <i class="bi bi-box-seam"></i>
      <span>Orders</span>
    </a> -->
    <!-- Profile -->
    <a routerLink="/profile" routerLinkActive="active">
      <i class="bi bi-person"></i>
      <span>Profile</span>
    </a>
  </div>
</nav>
